.git
.gitignore
.venv
.venv-ci
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
build
tests
docs
config
requirements-dev.txt
requirements-piper.in
requirements-piper.txt
*.env
*.sqlite3
*.wav
*.mp3
*.ogg
